{{#if last_message.readed}}
    <li class="each_friend_in_list">
{{else}}
    <li class="each_friend_in_list not_readed">
{{/if}}
    <div class="messages_image" >
        <img src="images/deactivated_100.gif" alt="image"/>
    </div>
    <div class="friend_info" >
        <blockquote >
            <p>{{body}}</p>
            <small class="created_at">{{created_at}}, By {{last_message.user.username}}</small>
            <small><cite title="Source Title">{{ last_message.body }}</cite></small>
        </blockquote>
    </div>
    <div class="friend_actions">
        <p><a href="javascript:;" class="start_chat">Start Chat</a></p>
    </div>
</li>


